<div class="header-photo">
    <div class="article2">
      <div class="title_header">WebMiner</div>
      <div class="subtitle">La Mine de l'Escale<br><span>Système de Donation/Ranking Server Discord</span></div>
    </div>
    <div class="article">
      <div class="miner">
        <div class="row">
          <div class="box">
            <h3>Total Points</h3>
            <h2 id="pool-hashes">...</h2>
          </div>
          <div class="box">
            <h3>Total XMR</h3>
            <h2 id="pool-xmr">...</h2>
          </div>
        </div>
        <div class="row">
          <div class="box">
            <h3>Total Point(s)/s</h3>
            <h2 id="pool-hashes-perSecond">...</h2>
          </div>
        </div>
      </div>
    </div>
</div>
