<h2>Qu'est-ce que c'est ?</h2>
<p>WebMiner est un moyen de contribuer au développement votre server Discord. Au moment où vous lancez WebMiner, votre machine mine du <a target="_blank" href="https://getmonero.org/">Monero</a>, une cryptomonnaie. Le principe est simple : vous supportez le serveur en donnant du temps de votre machine.</p>

<h2>Pourquoi Participer ?</h2>
<p>
  Si vous souhaitez participer activement au déveleppoment du serveur mais que vous n'avez pas d'argent, vous pourrez contribuer de cette manière ! En récompense de votre fabuleux effort vous gagnerez des <strong>points</strong> pour le Serveur Discord, et pourrez ainsi évoluer dans le <strong>Ranking du serveur</strong>.
</p>
<h2>Comment ça Marche ?</h2>
<p>
  Il suffit simplement de vous inscrire et de cliquer sur le button <strong>Start Mining</strong> pour commençer à miner. Un classement des mineurs est disponible plus bas, les meilleurs se verront récompensés par des <strong>Prix & Levels</strong> sur le serveur discord.
</p>
<h2>Info +</h2>
<p>
  Vous pouvez utiliser plusieurs appareils pour miner, mais attention il est conseillé d'utiliser le même compte sur tous vos appareils pour cumulés les points !
</p>
<p>
  Lancer le Miner le soir quand vous n'utilisez pas votre machine !
</p>