<h2>Qu'est-ce que c'est ?</h2>
<p>Nous vous proposons un système de <strong>Leveling</strong> & <strong>Ranking</strong> lié avec une <strong>économie virtuelle</strong> pour votre serveur Discord. Les utilisateurs s'inscrivent sur un site qui leurs permette de Miner une <strong>Crypto-Monnaie</strong> (le Monero), ce qui leurs rapporte des <strong>Points</strong> & à vous de l'<strong>Argents</strong>. Les <strong>Points</strong> sont utilisés pour le <strong>Leveling</strong> & <strong>Ranking</strong>, permettant de récompenser les meilleurs contributeurs. Un <strong>Bot</strong> est connecté sur votre <strong>Serveur Discord</strong> afin d'afficher certaines statistiques de la Mine.</p>
<h2>Pourquoi l'utilisé ?</h2>
<p>Si vous souhaitez participer activement au développement du serveur mais que vous n'avez pas d'argent, vous pourrez contribuer de cette manière !
WebMiner peut rapporter <strong>2€/jours</strong> pour un total de 2.000points/s (environ 25 Mineurs), cela peut permettre de proposé des lots conséquents pour les <strong>Mineurs</strong> les plus investie !</p>
<p><strong>WebMiner est un moyen simple et OpenSource pour aider au développement de votre Serveur Discord.</strong></p>
