 {% if update == true %} 
    <!--   <article class="rowed red_list">
        <ul>
			<li> -->
				<!-- <span class="update1">{{ votes }}1</span> -->
				<!-- <span class="update2">{{ nbVotes }}2</span> -->
	<!-- 		</li>
		</ul>
      </article> -->
{% endif %}
<br>
<!-- {{ nb_publications }} -->